<a href="https://github.com/mygaki" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub" data-position="top" data-delay="50">
    <i class="fab fa-github"></i>
</a>

<a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=825060947" class="tooltipped" target="_blank" data-tooltip="QQ联系我: 825060947" data-position="top" data-delay="50">
    <i class="fab fa-qq"></i>
</a>

<a href="https://weibo.com/2sweet" class="tooltipped" target="_blank" data-tooltip="关注我的微博" data-position="top" data-delay="50">
    <i class="fab fa-weibo"></i>
</a>

